* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body {
    display: flex;
    border: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
background: linear-gradient(to top, #000000, #ffffff);
box-sizing: border-box;
height: auto;
width: 100vw;
}


.main {
    position: absolute;
    background: rgb(162, 187, 187);
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 70%;
    height: auto;
}
.footer{
    display: flex;
    margin: 0;
    bottom: 50%;
    background-color: blue;
    width: 100%;
    height: 10%;
    border: 2px solid black;
    
    
}
.forms {
    display: flex;
    flex-direction: column;
    align-items: center;    
   margin-top: 10%;  
   max-width: 50%;
   height: 60vh;
   margin-left: 25%;
   margin-bottom: 0%;
   border: #fcfcfc solid ;
   border-radius: 2rem;
   filter: blur(10rem 10rem 10rem);
   filter: drop-shadow(2rem 2rem 4rem rgb(5, 110, 67));
} 
.name-input {
margin-top: 4%;
width: 40%;
filter: box-shadow(1rem 1rem 1rem white);
}
.email-input {
margin-top: 2%;
width: 40%;
}
.submission {
margin-top: 2%;
width: 70%;
min-height: 50%;
resize: none;
background-color: rgb(237, 240, 234);
    border-color: rgb(156, 153, 153);
}
.send {
    margin-top: 2%;
    height: 7%;
    width: 20%;
    border-radius: 50px;
    background-color: chartreuse;
    border-color: rgb(206, 203, 203);
}
.aboutstatement {
    position: absolute;
    border: 2px solid #000000;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 83%;
}
.abouttitle {
    position: absolute;
   
    
    left: 40%;
    top: 20%;
    font-size: clamp(2.5rem, 3rem, 90%);
    
    
}

.rollinglg {
    position: fixed;
    background-size: 5px;
    display: flex;
    filter: drop-shadow(1rem, .5rem, 3rem,  rgba(8, 95, 15, 0.596)) ;
    top: 0;
    width: 9rem;
    height: 9rem;
    background-color: rgba(209, 212, 210, 0.986);
    margin: 1rem;
    margin-right: 80%;
    border-radius: 100%;
    border:.2rem solid #185e16;
    
    


}



.contacttitle {

    position: absolute;
    display: flex;
   left: 40%;
    top: 20%;
    font-size: 3rem;
    
    
    
}
.wrapper {
    position: relative;
    display: flex;
background: linear-gradient( 315deg, #047c1e8f, rgba(37, 240, 37, 0.589),rgba(150, 241, 170, 0.685) ,#ffffff);
z-index: 1;
height: 100vh;
width: 100vw;

}
.nav {
    background: linear-gradient(to left, rgba(3, 185, 3, 0.418), rgba(4, 185, 4, 0.418), rgb(255, 255, 255));
     border: 4px solid rgba(10, 10, 10, 0.295);
    
    height: 17%;
   position: relative;
    border-radius: 50px;
    margin: 1%;
    width: 100%;
    background-color: rgba(79, 245, 79, 0.103);
    filter: drop-shadow(1rem 1rem 1rem #000000); 
    z-index: 5;
}
.bg {
    z-index: -99;
    position: absolute;
    image-rendering: auto;
    max-height: 3rem;
    min-width: 3rem;
    right: 0;
    margin-top: 40%;
    margin-right: 20%;


}


 /* .cl {
    position: absolute;
    margin-top: 10%;
    font-style: oblique italic;
    height: 3rem;
    
    font-size: 70%;
    transform: scale3d(2.5, 2, 10);
    color: rgb(56, 58, 57);
    filter: drop-shadow( .3rem .3rem .3px rgba(43, 88, 66, 0.5));
    

    background: none;
 }*/

 h1 {
    display: flex;
    font-size: 100px;
    justify-content: center;
    align-self: center;
    align-items: space-between;
    padding: 0;
    left: 2%;
    margin: 0;
    margin-top: .5%;
    z-index: 99; 
    
    filter: drop-shadow(1rem 1rem white);
    filter: drop-shadow(1rem 1rem 1rem white);
    filter: drop-shadow(7rem 2rem 50% rgba(211, 221, 221, 0.767) );
    
    
   
    

   

}
.b1 {
    position: absolute;
    right: 5%;
    top: 4rem;
    border-radius: 10px;
    width: 5rem;
    height: 5rem;
    background-color: rgba(11, 90, 18, 0.795);
    border: 2px solid rgba(61, 63, 61, 0.521);
    border-color: linear-gradient(rgba(255, 255, 255, 0.945), rgba(225, 226, 225, 0.205));
    background: linear-gradient(rgba(255, 255, 255, 0.26), rgba(226, 225, 225, 0.205));
    font-size: 15px;
    font-weight: bolder;
    font-style: oblique;
    font-display: fallback;

}

.content {
    text-decoration: none;
    color: rgb(21, 97, 59);
}
/*.stripe1, .stripe2, .stripe3 {
    position: absolute;
    width: 70%;
    height: 15%;
    background-color: rgb(8, 8, 8);
    border-radius: 5px;
    left: 15%;
    
}

.stripe1 {
    top: 20%;
}
.stripe2 {
    top: 42%;
}
.stripe3 {
    top: 64%;
} */
/*.menu {
    
    position: absolute;
     background: linear-gradient(to right, rgba(3, 185, 3, 0.116), rgba(10, 180, 10, 0.075), rgba(247, 247, 247, 0.062));
    display: none;
    background-color:  #34804449;
    right: 0%;
    margin-right: 0;
    border-radius: 10px;
    box-shadow: #ffffff44  -20px -20px 20px;
    width: 10px;
    border: rgb(81, 85, 83) solid 2px;
    height: 80vh;
    width: 30%;
   top: 4rem;
    gap: 10%;
    z-index: 200;
    text-decoration: none;
} */

.links {
    position: absolute;
    
    display: flex;
    right: 10%;
    margin-right: 7rem;
    border-radius: 50px;
    width: 50px;
   top: 4rem;
    gap: 10%;
    z-index: 100;
    text-decoration: none;
    
    
}



.aboutBtn {
    position: relative;
    width: 5rem;
    height: 1.5rem;
    border-radius: 10px;
    margin: 0;
}

.aboutText {
    position: absolute;
    top: 8%;
    padding: 0;
    margin-left: 40%;
}

.homeText {
    position: absolute;
    top: 8%;
    padding: 0;
    margin-left: 40%;
}

.contactText {
    position: absolute;
    top: 8%;
    padding: 0;
    margin-left: 30%;
}
.homeBtn {
    width: 5rem;
    height: 1.5rem;
    border-radius: 10px;
    margin: 0;
}


.contactBtn {
    width: 5rem;
    height: 1.5rem;
    border-radius: 10px;
    margin: 0;
}


/*
.link1:hover{
    transform: scale(1.3);
    transition: 1s;}

    .link2:hover{
    transform: scale(1.3);
    transition: 1s;}

    .link3:hover{
    transform: scale(1.3);
    transition: 1s;} */

.rollinglg:hover{
    transform: rotatey(720deg);
    transition: 25s;
    
}

.home {
    position: absolute;
    font-size: 17px;
    display: flex;
    justify-content: end;
    left: 90%;
    margin-top: 2rem;
    color: black;
}
/**.contactus {
    position: absolute;
    font-size: 17px;
    display: flex;
    justify-content: end;
    left: 77%;
    margin-top: 2rem;
    color: black;
}

/**.about {
    position: absolute;
    font-size: 17px;
    display: flex;
    justify-content: end;
    left: 77%;
    margin-top: 2rem;
    color: black;
}

 /* Responsive Design for Mobile Devices */

@media (max-width: 600px) {
    h1{
    font-size: 5px;
    margin-top: 20%;
    left: 20%;

    }
    
    
    .cl {
        display: none;
    }
    .rollinglg {
        width: 6rem;
        height: 6rem;
        margin-top: 5%;
        left: -20px;
}
.links {
    display: none;
    flex-direction: column;
    margin-right: 5%;
    margin-bottom: -40%;
    right: 0;
    background: none;
    border: none;
}
.b1, .b2, .b3 {
    display: block;
}
.aboutText{
    display: none;
}
.logo{
    margin-left: 10%;
    margin-top: 5%;
    font-size: 2.5rem;
    font-style: oblique;
}
.nav {
    height: 11%;
}

}


